process.container = 'friederici/memstress:latest'
docker.enabled = true

k8s {
  namespace = 'memstress-namespace'
  serviceAccount = 'sauser'
  storageClaimName = 'workspace-pvc'
  storageMountPath = '/workspace'
}

plugins {
  id 'nf-cws'
}

cws {
    dns = 'http://host.minikube.internal:8080/'
    strategy = 'rank_max-fair'
    costFunction = 'MinSize'
    batchSize = 10
}

